/B3CodeExamples/.vs
/B3CodeExamples/CSharpDataStructure/bin
/B3CodeExamples/CSharpDataStructure/obj
/B3CodeExamples/Test/bin
/B3CodeExamples/Test/obj
/DevSkill.LibrarySystem/DevSkill.LibrarySystem.Web/bin
/DevSkill.LibrarySystem/DevSkill.LibrarySystem.Web/obj
/DevSkill.LibrarySystem/.vs
/DevSkill.LibrarySystem/DevSkill.Library.Framework/obj
/DevSkill.LibrarySystem/DevSkill.Library.Framework/bin
/DevSkill.LibrarySystem/DevSkill.Library.Data/bin
/DevSkill.LibrarySystem/DevSkill.Library.Data/obj
/DevSkill.LibrarySystem/AutofacConfiguration/obj
/DevSkill.LibrarySystem/AutofacConfiguration/bin
/DevSkill.LibrarySystem/EFDemo/obj
/DevSkill.LibrarySystem/EFDemo/bin
/DevSkill.LibrarySystem/AdoDotNetExample/bin
/DevSkill.LibrarySystem/AdoDotNetExample/obj
